<!-- Master Division -->
<div>

    <!-- Header Section -->
    <div class="fixed top-0 left-0 w-full bg-[#28282B] text-[#2ca9bc] text-[2rem] flex p-4 justify-end h-[80px]">
        <span>Play Power Notes</span>
    </div>
    <!-- Body Section -->
    <div class="flex flex-row justify-evenly w-full h-[100vh] overflow-y-hidden pt-[80px] ">
        <!-- Left Component -->
        <div class="w-[40%]">
            <app-side-navigation (changeNoteId)="currentNoteId($event)"></app-side-navigation>
        </div>

        <!-- Right Component -->

        @defer (when this.selectedNoteId ) {

        <div class="w-[60%]">
            <app-editor-component [selectedNote]="this.selectedNoteId"></app-editor-component>
        </div>
        }
        @placeholder {
        <div class="w-[60%] text-center self-center">
            <span> Loading Note Data...</span>

        </div>
        }

    </div>
</div>