<!-- Editor Main Container Division -->
<div class="bg-[#28282B] h-full p-4 flex flex-col gap-2">



    <!-- Note Title Container -->
    <div class="h-[10%] flex flex-col">
        <label class="text-white">Title</label>
        <!-- <div contenteditable="true" (change)="changeInNoteTitle($event)">
            {{noteListData.noteTitle}}
        </div> -->
        <input type="text" class="bg-[#bfbcbc] p-2" [value]="noteListData.noteTitle" [disabled]="this.authentication"
            [ngStyle]="unlockStatu ?  {'filter': 'blur(0px)'} : {'filter': 'blur(5px)'} "
            (change)="changeInNoteTitle($event)" />

    </div>

    <!-- Text Editor Container -->
    <div class="h-[80%]">

        <div class="bg-[#28282B] flex flex-row gap-4 items-center p-[2px] justify-between ">
            <label class="text-white ">Subject</label>
            <div class="flex flex-row gap-4 items-center">
                <span class="font-semibold text-[1.5rem] text-[white] hover:cursor-pointer"
                    (click)="updateText('bold')">B</span>
                <span class="italic text-[1.5rem] text-[white] hover:cursor-pointer"
                    (click)="updateText('italic')">I</span>
                <span class="underline text-[1.5rem] text-[white] hover:cursor-pointer"
                    (click)="updateText('underline')">U</span>
                <span class="hover:cursor-pointer"><img src="assets/mainLayout/leftAlign.svg" width="20px" height="20px"
                        (click)="updateText('left')" /></span>
                <span class="hover:cursor-pointer"><img src="assets/mainLayout/centerAlign.svg" width="20px"
                        height="20px" (click)="updateText('center')" /></span>
                <span class="hover:cursor-pointer"><img src="assets/mainLayout/rightAlign.svg" width="20px"
                        height="20px" (click)="updateText('right')" /></span>
            </div>

        </div>
        <!-- TEXT EDITOR -->
        <div [contentEditable]="noteListData.encryptionStatus ? this.unlockStatu : true" #textBoxDiv id="textBoxDiv"
            [ngStyle]=" unlockStatu ?  {'filter': 'blur(0px)'} :{'filter': 'blur(5px)'} "
            class="block h-[90%] bg-[#bfbcbc] p-2" (mouseup)="saveSelection()" [innerHTML]="noteListData.noteSubject"
            [ariaDisabled]="this.authentication">
            <!-- {{noteListData.noteSubject}} -->
        </div>


    </div>
    <!-- Button Container -->



    <div class=" h-[10%] p-2 flex flex-row justify-end gap-2">
        <button class="bg-[lightblue] rounded-lg pl-4 pr-4" (click)="openPasswordPopup()">Add Encryption</button>
        <button class="bg-[#2ca9bc] rounded-lg pl-4 pr-4 text-white" (click)="saveNoteUpdates()">Submit</button>
    </div>
</div>